venv/
.env
__pycache__/
.ipynb_checkpoints/
.DS_Store

# data 
model_finetune/data/raw/*
model_finetune/data/processed/*


# outputs 
outputs/*.csv

# data
Model_Finetune/data/raw/*
Model_Finetune/data/processed/*

# outputs
Model_Finetune/outputs/*

# local model files
Model_Finetune/models/*